SUPABASE_URL      = "https://SEU_PROJETO.supabase.co"
SUPABASE_ANON_KEY = "eyJ..."

GROQ_API_KEY   = "gsk_..."
SERPER_API_KEY = "sua_chave_serper"

LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_API_KEY    = "lsv2_..."
LANGCHAIN_PROJECT    = "ProspectorAgent"
